.discound-block {
  padding: 4vw 0;
  &__discound-goods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  &__title {
    font-size: 21px;
    padding: 2vw 0;
    text-align: center;
  }
  &__text {
    max-width: 800px; /* Максимальная ширина текста */
    margin: 0 auto; /* Автоматический отступ по бокам для центрирования */
    padding: 4vw 0;
    text-align: center;
  }
}
.discound-goods {
  &__img {
    width: 200px;
    height: 300px;
  }
  &__goods {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  &__btn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}

.discountBtn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.discountBtn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .discountBtn {
    padding: 13px 50px 13px;
  }
}
@media screen and (max-width: 768px) {
  .discound-block {
    &__discound-goods {
      display: flex;
      align-items: center;
      gap: 4vw;
      flex-direction: column;
    }
    &__text {
      max-width: 500px;
    }
  }
}
