body {
  background: $backColor;
}
.goods-block {
  &__inner-wrap {
    padding: 10vw 6vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 8vw;
  }
  &__img {
    @include widtHeaderImg();
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-start;
  }
}
